@page
@model HungryBirds.Pages.MealChoice.IndexModel


@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Lunches for the week</h2>
<br />
<br />

<table class="table">
    <thead>
        <tr><p>Monday</p></tr>
        <tr>
           
            <th>

                @Html.DisplayNameFor(model => model.Meals[0].MealName)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meals[0].Colour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meals[0].Dayofweek)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Meals)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MealName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colour)
            </td>
            <th>
                @Html.DisplayFor(model => item.Dayofweek)
            </th>
            <td>
                @Html.CheckBoxFor(model => item.Selected)
            </td>
        </tr>
        }
    </tbody>
</table>

