@page
@model HungryBirds.Pages.Lunches.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Basket</h2>

<p>
    <a asp-page="Create">Create New Meal Choice</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Selection[0].StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Selection[0].MondayId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Selection[0].TuesdayId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Selection[0].WednesdayId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Selection[0].ThuesdayId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Selection[0].FridayId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Selection) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MondayId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TuesdayId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WednesdayId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThuesdayId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FridayId)
            </td>
            
            <td>
                
                <a asp-page="./Delete" asp-route-id="@item.SelectionId">Delete</a>|
                <a asp-page="./Edit" asp-route-id="@item.SelectionId">Edit</a>|
            </td>
        </tr>
}
    </tbody>
</table>
