@page
@model HungryBirds.Pages.Account.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Parent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Parent.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Parent.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Parent.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Parent.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Parent.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Parent.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Parent.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Parent.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Parent.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Parent.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Parent.AccountBalance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Parent.AccountBalance)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Parent.ParentId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
